body{
    background: #e68;
    color: #fff;
    font-size: sans-serif;
    padding: 40px;
    text-align: center;

}
.table{
    display: flex;
    justify-content: space-around;
    align-items: center;
}